body {
  background: rgb(231, 235, 240);
}

.telegram-color {
  background-color: #5682a3;
  height: 15em;
}

.login-panel-height {
  height: 24em;
}
.register-panel-height {
  height: 28em;
}
.login-sign {
  text-align: center;
  font-size: 1.8em;
}
.card-center {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
}

.next {
  float: right;
  margin-top: 2.3em;
  margin-right: 2.3em;
}

.pre {
  float: left;
  margin-top: 2.3em;
  margin-left: 2.3em;
}

.login {
  color: #5682a3;
  font-size: 1.3em;
}
.registerPage {
  color: #5682a3;
  font-size: 1.3em;
}
.chat-index{
  background-color: #5682a3;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
}
.input-msg {
  position: absolute;
  width: 70%;
  margin: auto;
  left: 0em;
  right: 0em;
  bottom: 0em;
}
.msgHistory {
  margin: auto;
  margin-top: 1.8em;
  height: 55em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sendmsg {
  float: right;
  color: #5682a3;
  border: 0;
  background: rgb(231, 235, 240);
  font-size: 20px;
}
